.btnPrimary {
  padding: 0.75rem 1.5rem;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnPrimary:hover {
  background-color: var(--light-blue);
}

.btnLarge {
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  border-radius: 0.75rem;
  background-color: var(--green);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btnLarge:hover {
  background-color: var(--greenText);
}

.searchButton {
  background-color: var(--green);
  color: var(--white);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 9999px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.searchButton:hover {
  background-color: var(--greenText);
}

.btnCreate {
 background-color: var(--search-bg);
  color: var(--blue);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 9999px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btnCreate:hover {
  background-color: var(--light-blue);
}

.viewButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  background-color: var(--logo-text);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.viewButton:hover {
  background-color: var(--greenText);
}
