.loginFormContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  margin: 5rem;
}

.loginBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--black);
  gap: 1rem;
  margin-top: 2rem;
}

.loginBanner h1 {
  font-family: Poppins, sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.075rem;
  font-weight: bolder;
}

.loginBanner p {
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.045rem;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
  color: var(--black);
  margin-bottom: 2.5rem;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.formLabel {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 100%;
  margin-bottom: 2rem;
}

.form input {
  width: 100%;
  padding: 1rem 1rem;
  border: 1px solid var(--line);
  border-radius: 1rem;
  background-color: transparent;
  margin: 0.3rem 0rem;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.termPwd {
  display: flex;
  justify-content: flex-end; /* Aligns "Forgot Password?" to the right */
  align-items: center;
  width: 100%;
  color: var(--form-text);
  font-family: Poppins, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.02625rem;
  cursor: pointer;
}

.termPwd .forgotPwd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.forgotPwd:hover {
  color: var(--color-primary-MP50);
  text-decoration: underline;
}

.error {
  color: var(--error);
}

.btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: 0.5rem 0;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.05rem;
}

.dividerText {
  white-space: nowrap;
  color: var(--line); 
}

.line {
  flex: 1;
  height: 1px;
  background-color: var(--line);
}

