.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: var(--z-fixed);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.navbarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.logo {
  width: 60px;
  height: auto;
}

.title {
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--black);
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.navbarMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbarList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarSubtitle {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.sidebarItem {
  margin: 0.8rem 0;
}
.sidebarSubItem {
  margin: 0.25rem 2rem;
}
.dropdownBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.8rem 0;
}
.sidebarLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 0.8rem 1rem;
  border-radius: 8px;
}
.sidebarBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: 0;
  background-color:transparent;
  width: 100%;

}

.active {
  background-color: var(--blue);
  color: var(--black);
}

.sidebarLink:hover,
.sidebarLink:active,
.sidebarBtn:hover {
  background-color: var(--blue);
  color: var(--black);
}

.icon {
  width: 20px;
  height: 20px;
}

/* Responsive */
@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .sidebarMenu {
    display: none;
  }

  .sidebarMenuActive {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: var(--blue);
    backdrop-filter: blur(16px);
    width: 60%;
    height: 100vh;
    z-index: var(--z-fixed);
    padding: 2rem;
  }
}

@media screen and (min-width: 901px) {
  .sidebarMenuActive {
    display: none;
  }

  .sidebarList {
    flex-direction: column;
  }

  .hamburger {
    display: none;
  }
}
