@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

:root {
  --white: #ffffff;
  --background: #f4f5f7;
  --black: #262626;
  --primary-bg: #ffedf7;
  --secondary-text: #373435;
  --tertiary-text: #8b8b8b;
  --sub-text: #323232;
  --search-bg: #f3f4f6;
  --search-text: #858585;
  --green: #45916d;
  --blue: #78c1ec;
  --greenText: #55aa55;
  --line: #857a85;
  --text: #27252b;
  --body: #99cccc;
  --subBody: #aa80aa;
  --lightBlack: #515a59;
  --error: #FF0000;


}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: var(--almostBlack);
  background: var(--veryLightGray);
  font-family: "Manrope", sans-serif;
  text-wrap: wrap;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  height: 100%;
  width: 100%;
  color: var(--black);
}

.loginPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  background-color: var(--background);
  color: var(--black);
  padding: 5rem;
  gap: 2rem;
}

.loginImg {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 1rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
}

.loginImg h1 {
  font-family: "Manrope", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -0.075rem;
}

.container {
  display: flex;
  background-color: var(--background);
}

.container-side {
  flex: 1;
  padding: 0.625rem 0rem 0.625rem 1.25rem;
  background-color: var(--white);
  min-height: 100dvh;
}

.container-body {
  flex: 4;
  padding: 1.5rem 2.5rem;
  background-color: var(--background);
  gap: 2rem;
}

